@using SiSiHouse.Common
@using SiSiHouse.Resources
@model SiSiHouse.Models.Conditions.UserCondition

@Styles.Render("~/Content/table")
@Scripts.Render("~/bundles/plugins/datatables/dataTable")

@{
    Layout = "~/Views/Shared/ManagementLayout.cshtml";
    ViewBag.Title = "Danh sách tài khoản";
}

<section class="content-header">
    <h1 id="title">
        @ViewBag.Title
    </h1>
    <div class="search-form">
        <div class="search-condition row">
            <div class="col-lg-5">
                @Html.LabelFor(m => m.FULL_NAME, new { @class = "col-lg-2 form-group" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.FULL_NAME, new { maxlength = 100, @class = "form-control", @placeholder = "Họ tên ..." })
                </div>
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(m => m.MOBILE, new { @class = "col-lg-3 form-group" })
                <div class="col-lg-7">
                    @Html.TextBoxFor(m => m.MOBILE, new { maxlength = 20, @class = "form-control", @placeholder = "Điện thoại ..." })
                </div>
            </div>
            <div class="col-lg-2">
                @Html.CheckBoxFor(m => m.DELETE_FLAG)
                @Html.LabelFor(m => m.DELETE_FLAG, new { @class = "" })
            </div>
        </div>
        <div class="search-condition row">
            <div class="col-lg-5">
                @Html.LabelFor(m => m.EMAIL, new { @class = "col-lg-2 form-group" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.EMAIL, new { maxlength = 200, @class = "form-control", @placeholder = "Email ..." })
                </div>
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(m => m.PRIVATE_PAGE, new { @class = "col-lg-3 form-group" })
                <div class="col-lg-7">
                    @Html.TextBoxFor(m => m.PRIVATE_PAGE, new { @class = "form-control", @placeholder = "Trang cá nhân ..." })
                </div>
            </div>
        </div>
        <div class="search-action row">
            <div class="col-lg-6">
                <button type="button" id="btnCreate" class="btn dark"><i class="fa fa-plus"></i> Tạo mới </button>
            </div>
            <div class="col-lg-6 right">
                <button type="button" id="btnSearch" class="btn dark"><i class="fa fa-search"></i> Tìm kiếm</button>
                <button type="button" id="btnClear" class=" btn light"><i class="fa fa-refresh"></i> Làm mới</button>
            </div>
        </div>
    </div>
    <div class="show-hide-search">
        <i class="fa fa-chevron-circle-up"></i>
    </div>
</section>

<div class="user-list data-list row">
    <table id="InfoTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Quyền</th>
                <th>Điện thoại</th>
                <th>Email</th>
                <th>Trang cá nhân</th>
                <th>Ngày cập nhật</th>
                <th>Người cập nhật</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <form class="frm-edit" action="@Url.Action("Update", "SiSi")" method="POST">
        <input name="id" type="hidden" value="0" />
    </form>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        var oSorting = {
            "bSort": true
        };
        var oPaginate = {
            "bPaginate": true,
            "iDisplayLength": parseInt(@App[ConfigurationKeys.LIST_ITEMS_PER_PAGE]),
            "bStateSave": false
        };
        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("Search", "SiSi")',
            "fnServerParams": serverParams,
            "fnInitComplete": displayData,
            "fnDrawCallback": displayComplete
        };
        var aoColumnDefs = [
            { "sName": "MODIFIED_DATE", "bSortable": false, "bVisible": false, "aTargets": [0], "sWidth": "0%" },
            { "sName": "MODIFIED_DATE", "bSortable": false, "aTargets": [1], "sWidth": "5%", "sClass": "center" },
            { "sName": "FULL_NAME", "aTargets": [2], "sWidth": "15%", "sClass": "left", "mRender": function (data, type, full) { return '<a class="action-edit ' + full[9] + '" aria-valuetext="' + full[0] + '">' + data + '</a>'; } },
            { "sName": "ROLE_ID", "aTargets": [3], "sWidth": "10%", "sClass": "left" },
            { "sName": "MOBILE", "bSortable": false, "aTargets": [4], "sWidth": "10%", "sClass": "left" },
            { "sName": "EMAIL", "bSortable": false, "aTargets": [5], "sWidth": "17%", "sClass": "left" },
            { "sName": "PRIVATE_PAGE", "bSortable": false, "aTargets": [6], "sWidth": "20%", "sClass": "left" },
            { "sName": "MODIFIED_DATE", "aTargets": [7], "sWidth": "13%", "sClass": "center" },
            { "sName": "MODIFIED_USER", "aTargets": [8], "sWidth": "10%", "sClass": "left" }
        ];

        var dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);

        function serverParams(aoData) {
            aoData.push(
                { "name": "FULL_NAME", "value": $("#FULL_NAME").val() },
                { "name": "MOBILE", "value": $("#MOBILE").val() },
                { "name": "EMAIL", "value": $("#EMAIL").val() },
                { "name": "PRIVATE_PAGE", "value": $("#PRIVATE_PAGE").val() },
                { "name": "DELETE_FLAG", "value": $("#DELETE_FLAG").prop('checked') }
            );
        }

        function displayData(data) {
            if (data.aaData.length == 0)
                $(".dataTables_paginate").hide();
            else
                $(".dataTables_paginate").show();
        }

        function displayComplete(data) {
            $('#InfoTable a.1').each(function () {
                $(this).parents('tr').removeClass().addClass('deleted-row');
            });
        }

        function searchByCondition() {
            dataTable.fnPageChange("first");
        }

        function submitEdit(id) {
            var $form = $(".frm-edit");

            $form.children("input[name='id']").val(id);
            $form.submit();
        }

        $(document).bind("keypress", function (e) {
            var code = e.keyCode || e.which;

            if (code == 13)
                searchByCondition();
        });

        $("#btnSearch").click(function () {
            searchByCondition();
        });

        $("#btnClear").click(function () {
            $("#PRIVATE_PAGE, #FULL_NAME, #EMAIL, #MOBILE").val("");
            $("#DELETE_FLAG").prop('checked', false);

            searchByCondition();
        });

        $("#btnCreate").click(function () {
            submitEdit(0);
        });

        $(document).off(".action-edit");
        $(document).on("click", ".action-edit", function () {
            submitEdit($(this).attr("aria-valuetext"));
        });
    });
</script>
