@using SiSiHouse.Common
@model SiSiHouse.ViewModels.CollectionItemModel

@{
    Layout = "~/Views/Shared/MobileLayout.cshtml";
}

<div id="iPageContent" class="product-info">
    <section id="product-detail">
        <div id="product-info">
            <div class="wrapper">
                <div id="product-actions" class="clearfix">
                    <span id="product-ref">Ref.  @Model.ProductInfo.PRODUCT_CODE</span>

                    <ul id="shareButtons">
                        <li>
                            <a id="facebook" class="social" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="product-p">
                    <div class="product-main-info">
                        <h1 class="product-name">@Model.ProductInfo.PRODUCT_NAME</h1>
                        <div class="product-prices">
                            <div class="prices">
                                @if (!string.IsNullOrEmpty(Model.ProductInfo.DISPLAY_PRICE))
                                {
                                    <p class="currentPrice">
                                        @Model.ProductInfo.DISPLAY_PRICE
                                    </p>
                                }
                            </div>
                            <hr>
                        </div>

                        @if (!string.IsNullOrEmpty(Model.ProductInfo.DESCRIPTION))
                        {
                            <h2 id="product-long-desc">
                                @Model.ProductInfo.DESCRIPTION
                            </h2>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="product-images" class="">
            <div id="product-main-images">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var img in Model.PictureList)
                        {
                            <div class="swiper-slide">
                                <img id="@img.PICTURE_ID" src="@img.IMG_SRC" />
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
</div>

@Scripts.Render("~/bundles/plugins/mobileSlider/slider")
@Scripts.Render("~/bundles/ShowItem")
<script>
    $(document).ready(function ($) {
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
    });
</script>
