@using SiSiHouse.Common
@model SiSiHouse.ViewModels.ManageStatistics.SearchStatisticsModel

@Styles.Render("~/Content/table")
@Scripts.Render("~/bundles/plugins/datatables/dataTable")

@{
    ViewBag.Title = "Hóa đơn bán lẻ";
    Layout = "~/Views/Shared/ManagementLayout.cshtml";
}

<section class="content-header product-header">
    <h1 id="title">
        @ViewBag.Title
    </h1>
    <div class="search-form">
        <div class="search-condition form-group row">
            <div class="col-lg-4">
                @Html.LabelFor(m => m.Condition.PRODUCT_CODE, new { @class = "" })
                @Html.TextBoxFor(m => m.Condition.PRODUCT_CODE, new { maxlength = 200, @placeholder = "Mã sản phẩm ...", @class = "input-text" })
            </div>
            <div class="col-lg-4">
                @Html.LabelFor(m => m.Condition.PRODUCT_NAME, new { @class = "" })
                @Html.TextBoxFor(m => m.Condition.PRODUCT_NAME, new { maxlength = 200, @placeholder = "Tên sản phẩm ...", @class = "input-text" })
            </div>
            <div class="col-lg-4">
                <label class="lbl-time-range">Ngày cập nhật</label>
                <div class="input-group date datepicker-days">
                    @Html.TextBoxFor(m => m.Condition.TARGET_DATE, "{0:yyyy/MM/dd}", new { @class = "form-control", maxlength = 10 })
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="search-condition row">
            <div class="col-lg-2">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    Giới tính <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-menu row">
                    <ul>
                        @for (int i = 0; i < Constant.Sex.Items.Count; i++)
                        {
                            <li>
                                <label class="control-label">
                                    <input alt="@(i)" class="select-sex" type="checkbox">
                                    @Constant.Sex.Items[i]
                                </label>
                            </li>
                        }
                    </ul>
                    <div class="clear-condition">
                        <i class="fa fa-refresh"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    Thương hiệu <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-menu row">
                    <ul>
                        @for (int i = 0; i < Model.BrandSelectList.Count; i++)
                        {
                            <li>
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.BrandSelectList[i].CHECK, new { alt = @Model.BrandSelectList[i].BRAND_ID, @class = "select-brand" })
                                    @Model.BrandSelectList[i].BRAND_NAME
                                </label>
                            </li>
                        }
                    </ul>
                    <div class="clear-condition">
                        <i class="fa fa-refresh"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    Phân loại <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-menu row">
                    <ul>
                        @for (int i = 0; i < Model.CategorySelectList.Count; i++)
                        {
                            <li>
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.CategorySelectList[i].CHECK, new { alt = @Model.CategorySelectList[i].CATEGORY_ID, @class = "select-category" })
                                    @Model.CategorySelectList[i].CATEGORY_NAME
                                </label>
                            </li>
                        }
                    </ul>
                    <div class="clear-condition">
                        <i class="fa fa-refresh"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    Trạng thái <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-menu row">
                    <ul>
                        @for (int i = 0; i < Constant.Status.Items.Count; i++)
                        {
                            <li>
                                <label class="control-label">
                                    <input alt="@(i)" class="select-status" type="checkbox">
                                    @Constant.Status.Items[i]
                                </label>
                            </li>
                        }
                    </ul>
                    <div class="clear-condition">
                        <i class="fa fa-refresh"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-action row right">
            <button type="button" id="btnSearch" class="btn dark"><i class="fa fa-search"></i> Tìm kiếm</button>
            <button type="button" id="btnClear" class=" btn light"><i class="fa fa-refresh"></i> Làm mới</button>
        </div>
    </div>
    <div class="show-hide-search">
        <i class="fa fa-chevron-circle-up"></i>
    </div>
</section>

<div class="data-list row">
    <table id="InfoTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th>Thông tin</th>
                <th>Chi tiết</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
                <th>Ngày tạo</th>
                <th>Người tạo</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@Scripts.Render("~/bundles/Bill")
