@using SiSiHouse.Common;

@{
    var currentUser = HttpContext.Current.Session[Constant.SESSION_LOGIN_USER] as LoginUser;
}

<div id="header-menu" class="navbar navbar-static-top" role="navigation">
    <div id="search">
        <form id="searchForm">
            <i id="searchAll" class="fa fa-search"></i>
            <input type="text" name="searchAll" placeholder="Search">
        </form>
    </div>

    <div id="general-menu">
        <ul>
            @if (currentUser == null)
            {
                <li class="help">
                    <a href="@Url.Action("GetIn", "SiSi")" class="login-link" title="Đăng nhập">
                        My Account
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("", "ManageProduct")" title="Quản trị">
                        Manage
                    </a>
                </li>
                <li class="separator">|</li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu login-user">
                        <li>
                            <a href="@Url.Action("Personal", "SiSi")" class="text-right">
                                @currentUser.FULL_NAME
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("GetOut", "SiSi")" class="text-right">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>

<nav role="navigation">
    <div id="logo">
        <a href="~/"></a>
    </div>
    <div id="main-menu">
        <ul>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    MAN
                </a>
                <div class="dropdown-menu row">
                    <div class="col-lg-6">
                        <a href="#">
                            Đồ Nam
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#">
                            Đồ Nữ
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    WOMAN
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    FOOTWEAR
                </a>
                <div class="dropdown-menu row">
                    <div class="col-lg-6">
                        <a href="#">
                            QUẦN
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#">
                            ÁO
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    ACCESSORIES
                </a>
                <div class="dropdown-menu row">
                    <div class="col-lg-6">
                        <a href="#">
                            Đồ Nam
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#">
                            Đồ Nữ
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    SPECIAL PRICES
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" aria-expanded="false">
                    COLLECTION
                </a>
            </li>
        </ul>
    </div>
</nav>
