@using SiSiHouse.Common;

<div id="header-menu">
    <div id="search">
        <form id="searchForm">
            <i id="searchAll" class="fa fa-search"></i>
            <input type="text" name="searchAll" placeholder="Search">
        </form>
    </div>

    <div id="general-menu">
        <ul>
            <li>
                <a href="https://www.facebook.com/sisihouse.myeyes.yourstyle" target="_blank" title="Facebook">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </li>
            <li class="separator">|</li>
            <li>
                <a href="https://www.instagram.com/si.si.house/" target="_blank" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="separator">|</li>
            <li>
                <a>
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>

<nav>
    <div id="logo">
        <a href="~/" title="SiSi House"></a>
    </div>
    <div id="main-menu">
        <ul>
            <li class="dropdown">
                <a href="@Url.Action("Collection", "Show", new { id = "Clothes" })" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" aria-expanded="false" data-sub-menu-id="1">
                    CLOTHES
                </a>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("Collection", "Show", new { id = "Footwears" })" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" aria-expanded="false" data-sub-menu-id="2">
                    FOOTWEARS
                </a>
            </li>
            <li class="dropdown">
                <a href="@Url.Action("Collection", "Show", new { id = "Accessories" })" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" aria-expanded="false" data-sub-menu-id="3">
                    ACCESSORIES
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" aria-expanded="false">
                    LOOKBOOK
                </a>
            </li>
            <li class="dropdown">
                <a href="https://www.facebook.com/sisihouse.myeyes.yourstyle" target="_blank" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" aria-expanded="false">
                    FACEBOOK
                </a>
            </li>
        </ul>
    </div>
    <div id="sub-menu">
        <div class="sub-menu-content 1">
            <ul class="sub-menu">
                <li>
                    <a href="@Url.Action("Collection", "Show", new { id = "Coats" })">COATS</a>
                </li>
                <li>
                    <a href="@Url.Action("Collection", "Show", new { id = "Jackets" })">JACKETS</a>
                </li>
                <li>
                    <a href="@Url.Action("Collection", "Show", new { id = "Blazers" })">BLAZERS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>SWEATSHIRTS</a>
                </li>
                <li>
                    <a>SWEATERS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>SHIRTS</a>
                </li>
                <li>
                    <a>T-SHIRTS</a>
                </li>
                <li>
                    <a>POLOS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>JEANS</a>
                </li>
                <li>
                    <a>TROUSERS</a>
                </li>
                <li>
                    <a>SHORTS</a>
                </li>
            </ul>
        </div>
        <div class="sub-menu-content 2">
            <ul class="sub-menu">
                <li>
                    <a>SHOES</a>
                </li>
                <li>
                    <a>MOCCASINS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>SNEAKERS</a>
                </li>
                <li>
                    <a>BOOTS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>OTHERS</a>
                </li>
            </ul>
        </div>
        <div class="sub-menu-content 3">
            <ul class="sub-menu">
                <li>
                    <a>BAGS</a>
                </li>
                <li>
                    <a>BELTS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>GLASSES</a>
                </li>
                <li>
                    <a>HATS</a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li>
                    <a>OTHERS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
